<a href="https://colab.research.google.com/github/vjshinde04/DBS/blob/main/DA100LectureCode.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# L2 19-10

Variables

In [1]:
var1 = 7
var2 = 8

In [6]:
sum = var1 + var2
print('Sum is', sum)

Sum is 15

In [11]:
naam = 'program'
print(naam[-7])

p

In [14]:
print(naam[-4:])

gram

In [20]:
print('sum of 5 and 4.5 :', 5+4.5)

sum of 5 and 4.5 : 9.5

In [21]:
print('product of 5 and 1.0 :', 5*1.0)

product of 5 and 1.0 : 5.0

In [22]:
print(naam+var1)

TypeError: ignored

In [23]:
print(naam+str(var1))

program7

In [24]:
print(naam+str( var1))

program7

In [25]:
print(naam/2)

TypeError: ignored

In [26]:
print(naam/str(2))

TypeError: ignored

In [28]:
value1 = 5+(5>6)
print(value1)
value2 = 5.0+(5<6)
print(value2)

5
6.0